.Container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: 20px solid red;
}
.hiddenDiv {
  position: absolute;
  visibility: hidden;
}

img {
  height: 750px;
  /* width: 1000px; */
  object-fit: cover;
}

button {
  background-color: crimson;
  color: #fff;
  margin-top: 10px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 90px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#captureBtn {
  position: absolute;
  right: 20px;
  top: 460px;
}
#retakeBtn {
  position: absolute;
  right: 20px;
  top: 480px;
}
#downloadBtn {
  position: absolute;
  right: 20px;
  top: 540px;
}
